@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@layer components {
  .full-screen {
    @apply w-screen h-screen;
    max-width: 100%;
  }
  .label {
    @apply text-purple-400 text-center rounded-xl border-8 border-pink-300 border-dashed p-4;
  }
  .hover-expand {
    @apply transition duration-1000 ease-in-out transform hover:scale-150 hover:-translate-y-1 hover:rotate-0;
  }
  .expanded-photo {
    @apply z-50;
  }

  .heart {
    @apply scale-50;
    position: relative;
    width: 100px;
    height: 90px;
  }

  .heart:before,
  .heart:after {
    @apply bg-purple-400;
    position: absolute;
    content: '';
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }

  .heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }

  .btn {
    @apply bg-pink-300 text-white text-center font-bold py-3 px-4 rounded focus:outline-none focus:shadow shadow-xl inline-block transition duration-500 ease-in-out transform hover:scale-110 hover:-translate-y-1;
  }
}
